<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Employee Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Sebastian Enterprises EMS Platform</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h2>Add Employee</h2>
  <br />
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Employee Details</h2>
      </div>
      <div th:if="${param.success}">
        <div class="alert alert-info">
          You have successfully registered our app!
        </div>
      </div>
      <div class="card-body">
      <form
          method="post"
          role="form"
          th:action="@{/saveEmployee}"
          th:object="${user}">

        <div class="form-group mb-3">
          <label class="form-label">First Name:</label>
            <input
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="Enter first name"
                th:field="*{firstName}"
                type="text"
            />
            <p th:errors = "*{firstName}" class="text-danger"
               th:if="${#fields.hasErrors('firstName')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Last Name:</label>
              <input
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      placeholder="Enter last name"
                      th:field="*{lastName}"
                      type="text"
              />
              <p th:errors = "*{lastName}" class="text-danger"
                 th:if="${#fields.hasErrors('lastName')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Email:</label>
              <input
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter email address"
                      th:field="*{email}"
                      type="email"
              />
              <p th:errors = "*{email}" class="text-danger"
                 th:if="${#fields.hasErrors('email')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password:</label>
              <input
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
                      th:field="*{password}"
                      type="password"
              />
              <p th:errors = "*{password}" class="text-danger"
                 th:if="${#fields.hasErrors('password')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Date of birth:</label>
              <input
                      class="form-control"
                      id="dateBirth"
                      name="dateBirth"
                      placeholder="Enter date of birth"
                      th:field="*{dateBirth}"
                      type="date"
              />
              <p th:errors = "*{dateBirth}" class="text-danger"
                 th:if="${#fields.hasErrors('dateBirth')}"></p>
            </div>

            <p>Select employee type:</p>
            <select name="EmployeeType" id="EmployeeType" class="form-control mb-4 col-4" th:field="*{employeeType}">
              <option th:each="employeeType : ${employeeTypes}"
                      th:value="${employeeType.id}"
                      th:text="${employeeType.type}">
              </option>
            </select>

            <p>Choose the department:</p>
            <select name="employeesDepartments" id="employeesDepartments" class="form-control mb-4 col-4"
                    th:field="*{department}">
              <option th:each="department : ${departments}" th:value="${department.id}"
                      th:text="${department.departmentName}"></option>
            </select>

            <p>Choose the position:</p>
            <select name="employeesPositions" id="employeesPositions" class="form-control mb-4 col-4"
                    th:field="*{position}">
              <option th:each="position : ${positions}" th:value="${position.id}"
                      th:text="${position.positionName}"></option>
            </select>

            <p>Select contract:</p>
            <select name="EmployeeContracts" id="EmployeeContracts" class="form-control mb-4 col-4" th:field="*{EmployeeContracts}">
              <option th:each="employeeContract : ${employeeContracts}"
                      th:value="${employeeContract.id}"
                      th:text="${employeeContract.employeeContractName}">
              </option>
            </select>

            <div>
              <label for="employee-contract-start-date">Select contract start date:</label>
              <input type="date" th:field="*{contractStart}" id="employee-contract-start-date"/>
            </div>

            <div>
              <label for="employee-contract-end-date">Select contract end date:</label>
              <input type="date" th:field="*{contractEnd}" id="employee-contract-end-date"/>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Salary:</label>
              <input
                      class="form-control"
                      id="salary"
                      name="salary"
                      placeholder="Enter salary (will be saved in euro)"
                      th:field="*{salary}"
                      type="text"
              />
              <p th:errors = "*{salary}" class="text-danger"
                 th:if="${#fields.hasErrors('salary')}"></p>
            </div>

            <p>Employee address information</p>

            <p>Enter employee country:</p>
            <input type="text" th:field="*{address.country}"
                   placeholder="Employee Country" class="form-control mb-4 col-4">

            <p>Enter employee county:</p>
            <input type="text" th:field="*{address.county}"
                   placeholder="Employee County" class="form-control mb-4 col-4">

            <p>Enter employee city:</p>
            <input type="text" th:field="*{address.city}"
                   placeholder="Employee City" class="form-control mb-4 col-4">

            <p>Enter employee street:</p>
            <input type="text" th:field="*{address.street}"
                   placeholder="Employee Street" class="form-control mb-4 col-4">

            <p>Enter employee apartment number:</p>
            <input type="text" th:field="*{address.apartmentNumber}"
                   placeholder="Employee Apartment Number" class="form-control mb-4 col-4">

            <p>Employee passport information</p>
            <input type="text" th:field="*{passport.series}"
                   placeholder="Passport Series" class="form-control mb-4 col-4">

            <p>Enter employee passport number:</p>
            <input type="text" th:field="*{passport.number}"
                   placeholder="Passport Number" class="form-control mb-4 col-4">

            <div>
              <label for="employee-passport-issue-date">Select passport issue date:</label>
              <input type="date" th:field="*{passport.issueDate}" id="employee-passport-issue-date"/>
            </div>

            <p>Enter employee passport issue place:</p>
            <input type="text" th:field="*{passport.issuePlace}"
                   placeholder="Passport Issue Place" class="form-control mb-4 col-4">

            <p>Enter employee passport registration place:</p>
            <input type="text" th:field="*{passport.registrationPlace}"
                   placeholder="Employee Registration Place" class="form-control mb-4 col-4">

            <p>Select employee civil status:</p>
            <select name="EmployeeCivilStatus" id="EmployeeCivilStatus" class="form-control mb-4 col-4" th:field="*{civilStatus}">
              <option th:each="civilStatus : ${listCivilStatus}"
                      th:value="${civilStatus.id}"
                      th:text="${civilStatus.status}">
              </option>
            </select>

            <div class="form-group">
              <button class="btn btn-primary" type="submit">Add employee</button>
            </div>
      </form>
  <br />
  <a th:href = "@{/users}"> Back to Employee List</a>
</div>
    </div>
  </div>
</div>
</body>
</html>
